* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #fff; */
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left {
  width: 50%;
  height: 100%;
  background: #1c1c1c;
  padding: 60px;
  overflow: hidden;
  color: white;
}

.content-text {
  margin-top: 50px;
}
.content-text h1 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 400;
}

.content-text h5 {
  margin-bottom: 15px;
  font-weight: 400;
  opacity: 0.9;
  font-size: 17px;
}
.content-text h5 i {
  margin-right: 8px;
}
.para {
  margin-top: 200px;
  opacity: 0.5;
  font-size: 15px;
}
.img-continer {
  display: flex;
  margin-top: 50px;
}
.img-continer img {
  margin-right: 15px;
}
.para1 {
  margin-top: 50px;
}
.bottom-img {
  width: 100%;
  margin-top: 80px;
}

.right {
  color: black;
  padding: 60px;
}
.header {
  margin-left: 120px;
  margin-top: 220px;
}
.header h1 {
  font-size: 38px;
  font-weight: 400;
}
.header p {
  margin-top: 10px;
  opacity: 0.5;
  font-weight: 500;
}
.inputs {
  /* margin: 120px; */
  margin-left: 120px;
  margin-top: 30px;
}
.inputs p {
  margin-bottom: 10px;
}
.inputs input {
  width: 600px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
}
.p1 {
  margin-top: 20px;
}
.footer2 {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-top: 50px;
}
.right button {
  width: 70px;
  padding: 10px;
  border-radius: 30px;
  background-color: #918e8e;
  color: #fff;
  font-size: 15px;
  border: none;
  font-weight: 600;
}
.main-line {
  display: flex;
  margin-top: 15px;
}

.lins1 {
  width: 80px;
  background: #000;
  height: 3.5px;
  margin-right: 8px;
  border-radius: 30px;
}
.lins2 {
  width: 80px;
  background: #d6d1d3;
  height: 3.5px;
  margin-right: 8px;
  border-radius: 30px;
}

.lins3 {
  width: 80px;
  background: #d6d1d3;
  height: 3.5px;
  border-radius: 30px;
}
