* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);

  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.nav,
.nav * {
  background-color: white;
}

.nav {
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  color: rgb(27, 27, 117);
  font-size: 18px;

  font-weight: 900;
}

.logo p {
  color: red;
  font-size: 20px;
  font-weight: 900;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content ul {
  display: flex;
  list-style: none;
}

.content li {
  margin-left: 15px;
  font-weight: 500;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-nav img {
  width: 40px;
  height: 40px;
  margin-right: 300px;
}

.inputs input {
  width: 200px;
  height: 13px;
  border: 1px solid white;
  outline: none;
}

.inputs {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(197, 195, 195);
  margin-right: 10px;
}

.hero {
  margin-top: 150px;
  margin-left: 350px;
  margin-right: 350px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  height: auto;
  margin-top: 50px;
}

.left-hero .upper-div {
  border: 1px dotted rgb(197, 195, 195);
  padding: 6px;
  border-radius: 30px;
  opacity: 0.6;
  font-size: 12px;
}

.left-hero i {
  color: rgb(62, 188, 62);
  margin-right: 5px;
  border: none;
}

.upper-div img {
  width: 550px;
}

.left-hero h1 {
  color: rgb(27, 27, 117);
  font-size: 60px;
  font-weight: 600;
  margin-top: -15px;
}

.left-hero p {
  opacity: 0.6;
}

.curved-right {
  margin-top: 50px;
  margin-left: 300px;
  background-color: rgb(27, 27, 117);
  color: white;
  padding: 20px;
  width: 60%;
  height: 150px;
  border-radius: 10px 200px 10px 10px;
}
